# Datatypes

Basic mathematical operations

In [1]:
1+5

6

In [2]:
4-2

2

In [3]:
4*3

12

In [4]:
6/3

2.0

In [5]:
5/2

2.5

In [6]:
10%3

1

In [7]:
#power funciton

4**2

16

In [8]:
4**3

64

Various ways of using print function

In [9]:
print('Hello World')

Hello World

In [10]:
print("I don't know where this tutorial will take me!")

I don't know where this tutorial will take me!

In [11]:
#Assigning variables to the name

given_name = 'Mark'
last_name = 'Macwan'

In [12]:
print("My name is {} and last name is {}.".format(given_name,last_name))

My name is Mark and last name is Macwan.

In [13]:
print("My name is {given} and last name is {last}.".format(last=last_name,given=given_name))

My name is Mark and last name is Macwan.

Checking the datatype

In [14]:
type(2)

int

In [15]:
a=2
type(a)

int

In [16]:
type('True')

str

In [17]:
type("True")

str

In [18]:
type(True)

bool

In [19]:
#Single quotes or double quotes can be used to initialize charcters as strings

Strings

In [20]:
"Hello"

'Hello'

In [21]:
'Mark'

'Mark'

In [22]:
type('Mark')

str

In [23]:
#Checking the length of the string

a = 'Alphabet'
len(a)

8

Assigning a variable to the value or string

In [24]:
a = 5
type(a)

int

In [25]:
a = 'Mark'
type(a)

str

In [26]:
#Mathematical operations using Varibales

a=8
b=4

In [27]:
print(a*b)
print(a/b)
print(a%b)
print((a*b)+(a/b))
print(a**2)

32
2.0
0
34.0
64

# Python Data Structures

> Boolean and Logical Operators

> Lists

> Combining operators

> Dictionaries

> Tuples

Boolean : Boolean values are the two constant objects False and True.

In [28]:
str = 'Mark1234'

In [29]:
str.istitle() #Checking if string is title or not

True

In [30]:
print(str.isalnum()) #check if all char are numbers
print(str.isalpha()) #check if all char in the string are alphabetic
print(str.isdigit()) #test if string contains digits
print(str.istitle()) #test if string contains title words
print(str.isupper()) #test if string contains upper case
print(str.islower()) #test if string contains lower case
print(str.isspace()) #test if string contains spaces
print(str.endswith('m')) #test if string endswith a m
print(str.endswith('4')) #test if string endswith a 4
print(str.startswith('M')) #test if string startswith M

True
False
False
True
False
False
False
False
True
True

# Combining Boolean with Logical Operators like 'AND' 'OR'

In [31]:
True and True

True

In [32]:
True or True

True

In [33]:
True and False

False

In [34]:
True or False

True

In [35]:
str_example='Hello World'
my_str='Mark'

In [36]:
my_str.isalpha() or str_example.isnum()

True

## LIST

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [37]:
type([])

list

In [38]:
list_example=[]

In [39]:
type(list_example)

list

In [40]:
lst=['Mathematics', 'Physics', 100, 200, 300, 204]

In [41]:
len(lst)

6

In [42]:
type(lst)

list

Appened: Adding elements in the list

In [43]:
lst.append('Mark')

In [44]:
lst.append(['Python', 3, 'R'])  #Appedning multiple elements

In [45]:
#New lst

lst

['Mathematics', 'Physics', 100, 200, 300, 204, 'Mark', ['Python', 3, 'R']]

# Indexing in List

In [46]:
lst[4] #retrieves 4 element from the list

300

In [47]:
lst[1:4]  #retrieves elements from the index 1 to 4 including 1 but not 4

['Physics', 100, 200]

In [48]:
lst[:4]  #retrieves all the element from the 0th index to the 4th index excluding 4th

['Mathematics', 'Physics', 100, 200]

# Inserting in List (at a specfic index)

In [49]:
#insert at a specific order

lst.insert(2, 'Macwan')

In [50]:
lst

['Mathematics',
 'Physics',
 'Macwan',
 100,
 200,
 300,
 204,
 'Mark',
 ['Python', 3, 'R']]

# Extend method

In [51]:
lst=[1,2,3,4,5,6]

In [52]:
lst.extend([7,8,9])

In [53]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Operations on List

In [54]:
lst=[1,2,3,4,5]

In [55]:
sum(lst)

15

In [56]:
lst*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [57]:
lst*3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

# pop() method

In [59]:
lst.pop(4)

4

In [60]:
lst

[1, 2, 3]

In [61]:
lst.pop(0)

1

In [62]:
lst

[2, 3]

# count() method

In [64]:
#Calculates total occurence of a given element in the list

lst=[1,1,2,3,4,5,1]
lst.count(1)

3

In [65]:
#length:Calculates total length of List

len(lst)

7

In [67]:
#index(): Returns the index of first occurrence. Start and End index are not necessary parameters

lst.index(1,1,6)

1

In [69]:
##Min and Max, returns minimum and maximum value from the list

print(min(lst))
print(max(lst))

1
5

# SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [70]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [71]:
set_var={1,2,3,4,3}

In [73]:
set_var

{1, 2, 3, 4}

In [74]:
set_var={"AI","ML",'DL'}
print(set_var)
type(set_var)

{'AI', 'DL', 'ML'}

set

In [75]:
## Inbuilt function in sets

set_var.add("NN")

In [76]:
print(set_var)

{'AI', 'DL', 'ML', 'NN'}

In [88]:
set1={"AI","ML", "DL"}
set2={"AI", "ML", "DL", "NN"}

In [89]:
set2.intersection_update(set1)

In [90]:
set2

{'AI', 'DL', 'ML'}

In [92]:
#Difference 

set2.difference(set1)

set()

In [93]:
set2

{'AI', 'DL', 'ML'}

In [94]:
#Difference update

set2.difference_update(set1)

# DICTIONARIES

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [96]:
dic={}

In [97]:
type(dic)

dict

In [98]:
type(dict())

dict

In [99]:
set_ex={1,2,3,4,5}

In [100]:
type(set_ex)

set

In [101]:
#Creating a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW", "Car3":"Merc"}

In [102]:
type(my_dict)

dict

In [103]:
#Accessing the item values based on keys

my_dict['Car1']

'Audi'

In [104]:
#Iterating through the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [105]:
#Iterating through the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Merc

In [106]:
#Iterating both keys and values

for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Merc')

In [107]:
#Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [108]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Merc', 'car4': 'Audi 2.0'}

In [109]:
my_dict['Car1'] = "Honda"

In [110]:
my_dict

{'Car1': 'Honda', 'Car2': 'BMW', 'Car3': 'Merc', 'car4': 'Audi 2.0'}

# Nested Dictionary

In [111]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Honda':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [112]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Honda': 1980}}

In [113]:
#Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [114]:
print(car_type['car1']['Mercedes'])

1960

# TUPLES

A tuple is a collection of objects which ordered and immutable. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [115]:
#Creating an empty Tuple

my_tuple=tuple()

In [116]:
type(my_tuple)

tuple

In [117]:
my_tuple=()

In [118]:
type(my_tuple)

tuple

In [119]:
my_tuple=("Mark","Isaac","John")

In [120]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Mark', 'Isaac', 'John')

In [121]:
#Inbuilt count function

my_tuple.count('Isaac')

1

In [122]:
my_tuple.index('John')

2